{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage",
        "corejs": "3.0.0",
        "targets": {
          "electron": "9.0.0"
        }
      }
    ],
    "@babel/preset-react"
  ]
}
